body {
  margin: 0;
  padding: 0;
}
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  background-color: rgb(105, 66, 209);
  &:hover {
    background-color: rgb(11, 155, 6);
  }
}

img {
  width: 100%;
  height: auto;
}
