@import url(./base.scss);
@import url(./header.scss);

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &.logo {
    width: 4.75rem;
  }
}

h1 {
  background-color: rgb(16, 149, 211);
  &:hover {
    background-color: rgb(184, 60, 60);
  }
}
